* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.signin-up {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.signin-up:hover {
  color: lightgrey;
}

#logout {
  font-size: 1rem;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0.5em;
}

#logout:hover {
  background-color: lightgrey;
}

#login-nav {
  justify-content: flex-end;
}

.search {
  display: none;
}

.search > input {
  width: 20em;
  height: 1.5em;
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  padding: 0.5em;
}

.search > button {
  margin-left: 0.5em;
  height: 2.7em;
  width: 4em; 
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.search > button:hover {
  background-color: lightgrey;
}

.drawer-paper {
  width: 25%;
}

#signin-form {
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.5em;
}

#signin-form > h1 {
  text-align: center;
}

span {
  color: maroon;
}

#signin-form > a {
  text-align: center;
  color: black;
}

#signin-form > a:hover {
  color: grey;
}

.input-container > input {
  width: 20em;
  height: 1.5em;
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  padding: 0.5em;
  margin-top: 0.5rem;
}

.input-container > button {
  height: 2.7em;
  width: 5em; 
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  padding: 0.5em;
  cursor: pointer;
  background-color: maroon;
  color: white;
}

.input-container > button:hover {
  background-color: red;
}

.input-container > label {
  margin-left: 0.5em;
  color: maroon;
}

#footer {
  display: flex;
  /* position: fixed; */
  /* bottom: 0; */
  background-color: maroon;
  color: white;
  padding: 1em;
  /* text-align: center; */
  height: 25vh;
  margin-top: 5vh
}

.footer-container {
  width: 33vw;
  /* background-color: black; */
  padding: 0.5em;
}

#copywrite-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
  
#footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-column-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid white;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10vh;
}

.footer-column-item {
  text-decoration: none;
  color: white;
}

.footer-column-item:hover {
  color: lightgrey;
}

#footer-socials {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

@media screen and (min-width: 600px) {
  .search {
    display: flex;
  }

  #signin-form {
    width: 30vw;
  }

  .carousel {
    overflow: hidden;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: maroon;
    margin: 1em auto;
    border-radius: 0.5em;
  }

  .carousel-img {
    width: 95%;
    margin: auto;
    padding: 1em;
  }

  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5 15px rgba(0, 0, 0, 0.05);
  }

  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }

  .carousel-buttons {
    display: flex;
    justify-content: space-evenly;
    background: white;
    width: 95%;
    padding: 0.5em;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 0.5em;
  }

  .button-arrow {
    background: none;
    border: none;
    cursor: pointer;
  }

  .indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .indicator-buttons {
    border: none;
    cursor: pointer;
  }

  .indicators > button {
    margin: 5px;
    background: none;
  }

  .material-symbols-outlined {
    color: black;
  }

  .indicator-symbol {
    color: black;
  }

  .indicator-symbol-active {
    color: maroon;
  }
}
  
  .product-image img{
    height: 25rem;
    margin-right: 15rem;
  }
  
  .single-product{
    margin-right: 3rem;
  }
  
  .single-product img {
    height: 25rem;
  }

