* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.signin-up {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.signin-up:hover {
  color: lightgrey;
}

#logout {
  /* text-decoration: none; */
  font-size: 1rem;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0.5em;
}

#logout:hover {
  background-color: lightgrey;
}

#login-nav {
  justify-content: flex-end;
}

.search {
  display: none;
}

.search > input {
  width: 20em;
  height: 1.5em;
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  padding: 0.5em;
}

.search > button {
  /* box-sizing: border-box; */
  margin-left: 0.5em;
  height: 2.7em;
  width: 4em; 
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  /* padding: 0.5em; */
  cursor: pointer;
}

.search > button:hover {
  background-color: lightgrey;
}

.drawer-paper {
  width: 25%;
}

#signin-form {
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 50vh; */
  /* width: 50vw; */
  margin: auto;
  padding: 1.5em;
}

#signin-form > h1 {
  text-align: center;
  /* margin: 0.5em; */
}

span {
  color: maroon;
}

#signin-form > a {
  text-align: center;
  color: black;
  /* margin: 0.5em; */
}

#signin-form > a:hover {
  color: grey;
}

.input-container > input {
  width: 20em;
  height: 1.5em;
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  padding: 0.5em;
  margin-top: 0.5rem;
}

.input-container > button {
  /* box-sizing: border-box; */
  /* margin-left: 0.5em; */
  height: 2.7em;
  width: 5em; 
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  padding: 0.5em;
  cursor: pointer;
  background-color: maroon;
  color: white;
}

.input-container > button:hover {
  background-color: red;
}

.input-container > label {
  margin-left: 0.5em;
  color: maroon;
}

#logo{
  color: white !important;
}

@media screen and (min-width: 600px) {
  .search {
    display: flex;
  }

  #signin-form {
    width: 30vw;
    /* height: 50vh; */
  }

  .carousel {
    overflow: hidden;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: maroon;
    /* padding: 1em; */
    margin: 1em auto;
    border-radius: 0.5em;
  }

  .carousel-img {
    width: 95%;
    margin: auto;
    padding: 1em;
  }

  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5 15px rgba(0, 0, 0, 0.05);
  }

  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }

  .carousel-buttons {
    display: flex;
    justify-content: space-evenly;
    background: white;
    width: 95%;
    padding: 0.5em;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 0.5em;
  }

  .button-arrow {
    background: none;
    border: none;
    cursor: pointer;
  }

  .indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .indicator-buttons {
    border: none;
    cursor: pointer;
  }

  .indicators > button {
    margin: 5px;
    background: none;
  }

  .material-symbols-outlined {
    color: black;
  }

  .indicator-symbol {
    color: black;
  }

  .indicator-symbol-active {
    color: maroon;
  }