* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.signin-up {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.signin-up:hover {
  color: lightgrey;
}

#logout {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5em;
  cursor: pointer;
}

#login-nav {
  justify-content: flex-end;
}

.search > input {
  width: 20em;
  height: 1.5em;
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  padding: 0.5em;
}

.search > button {
  /* box-sizing: border-box; */
  margin-left: 0.5em;
  height: 2.7em;
  width: 4em; 
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  /* padding: 0.5em; */
  cursor: pointer;
}

.search > button:hover {
  background-color: lightgrey;
}